<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaProjeto_iTutor.Properties.Settings.iTutorConnectionString"
            connectionString="Data Source=LAPTOP-RRGSDFI2\SQLEXPRESS;Initial Catalog=iTutor;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name ="conexaoNorthwind" connectionString="Data Source=.;initial Catalog=Northwind;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AtendeClienteServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="AtendeClienteServiceSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente"
                binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding"
                contract="WSCorreios.AtendeCliente" name="AtendeClientePort" />
        </client>
    </system.serviceModel>
</configuration>